body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;

    background: #fff;
    color: #252525;

    --minishadow: 0 0 20px rgba(0, 0, 0, .1);
    --shadow: 0 0 30px rgba(0, 0, 0, .2);
    --defcolor: #4D9FFF;
    --deftextcolor: #505050;
    --grey: #D9D9D9;

    animation: blink 50s;
}
@keyframes blink {
    0%, 100% {
        --defcolor: #63a9f8;
    }
    25% {
        --defcolor: #68e67d;
    }
    75% {
        --defcolor: #ec646f;
        --defcolor: #ece364;
        --defcolor: #ec64af;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/* Effects */
/* > Pulse */
.pulse {
    overflow: hidden;
}
.pulse.light .inpulse {
    background: #fff;
}
.pulse.light:hover .inpulse {
    opacity: .3;
}
.pulse .inpulse {
    width: 0;
    height: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background: #000;
    opacity: 0;

    transition: .3s;
}
.pulse:hover .inpulse {
    opacity: .1;
}
.pulse:active .inpulse {
    opacity: .05;
}

/* > Context menu */
.contextmenu_box {
    left: 10px;
    transform: scaleX(0);
    transition-delay: .2s;
}
.contextmenu {
    padding: 10px;
    font-size: 20px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(10px, -50%);
    white-space: nowrap;

    background: #fff;
    color: var(--deftextcolor);
    opacity: 0;
    border-radius: 30px;

    transition: .2s;
}
.contextmenu.grey {
    background: #252525;
    color: #fff;
}
.contextmenu_opener_in:hover .contextmenu_box,
.contextmenu_opener:hover ~ .contextmenu_box {
    transform: scaleX(1);
    transition-delay: 0s;
}
.contextmenu_opener_in:hover .contextmenu_box .contextmenu,
.contextmenu_opener:hover ~ .contextmenu_box .contextmenu {
    opacity: 1;
    transform: translate(0, -50%);
}

/* Buttons */
.button {
    padding: 0px 20px;
    font-size: 18px;

    text-align: center;
    line-height: 50px;

    background: var(--defcolor);
    color: #fff;
    border-radius: 30px;

    transition: .4s;
}
.button.round {
    padding: 0;
    width: 60px;
    height: 60px;
    
    text-align: center;
    line-height: 60px;
    
    border-radius: 50%;
    background: none;
}
.button:hover {
    cursor: pointer;
}

/* Header */
.header {
    width: 100%;
    height: 80px;
    background: #fff;
}
/* > Logo */
.logo path {
    fill: var(--defcolor);
    transition: .4s;
}

/* Panels */
.left_panel {
    top: 100px;
}
.left_panel .buttons_panel {
    background: var(--defcolor);
    border-radius: 30px;
    transition: .4s;
}
.left_panel .buttons_panel.but_top {
    max-width: 60px;
}
.left_panel .buttons_panel .button {
    font-size: 18px;
    color: #fff;
    transition: .4s;
}
/* > Filters */
.filter_panel {
    padding-left: 80px;
    width: 200px;

    left: -60px;
    z-index: 0;
    /* overflow: hidden; */

    background: var(--defcolor);
    color: #fff;
    border-radius: 30px;

    transition: .4s;
}
.select {
    width: 30px;
    height: 30px;

    background: #ff3f3f;
    color: #fff;
    border-radius: 50%;
    border: none;
    border: 1px solid #fff;

    font-family: Montserrat;
    font-size: 18px;
}
.color_checker {
    width: 30px;
    height: 30px;

    border-radius: 50%;
}
.color_checker:hover {
    border: 1px solid #fff;
}
.select .contextmenu {
    left: 30px;
    border-radius: 30px;
    background: #252525;
}
/* > Checkbox */
.checkbox {
    display: none;
}
.checkbox_label {
    -webkit-user-select: none;
}
.checkbox_label::after {
    content: "";

    width: 30px;
    height: 30px;

    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border-radius: 50%;
    border: 1px solid #fff;

    transition: .2s;
}
.checkbox:checked ~ .checkbox_label::after {
    border: 10px solid #fff;
    width: 12px;
    height: 12px;
    background: #4D9FFF;
}

/* Main */
.main {
    top: 100px;
    width: 82%;
    margin: auto;
}
/* > Cards */
.card_box {
    margin: auto;
}
.card {
    width: 180px;
    height: 180px;
    font-size: 18px;

    color: var(--deftextcolor);

    transition: .2s;
}
.card .color_canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4D9FFF;
}
.card .bottom_panel {
    width: 100%;
    padding: 14px 38px;
    
    text-align: center;

    background: #ffffff00;
    color: #fff;

    transition: .3s;
}
/* > > Panel */
.card .right_panel {
    width: max-content;

    left: 100%;
    z-index: -1;
}
.card .right_panel .button {
    width: 40px;
    height: 40px;

    /* left: -130%; */
    transform: scale(0);
    line-height: 40px;

    background: #fff;
    color: var(--grey);
    border-radius: 20px;
    box-shadow: var(--minishadow);

    transition: .3s;
    transition-timing-function: ease;
}
.card .right_panel .button.rect {
    padding: 0 10px;
    width: unset;
}
.card:hover {
    box-shadow: var(--shadow);
    z-index: 50;
    cursor: pointer;
}
.card:hover .bottom_panel {
    background: #fff;
    color: var(--deftextcolor);
}
.card:hover .right_panel .button {
    left: 0;
    transform: scale(1);
    transition-timing-function: cubic-bezier(0.52, 0.62, 0.25, 1.41);
}

.card:hover .right_panel .button.delay {
    transition-delay: .1s;
}
.card:hover .right_panel .button.delay2 {
    transition-delay: .2s;
}

/* Opened color */
.color_viewer {
    width: 100%;
    height: 300px;
}
.color_viewer .canvas {
    width: 100%;
    height: 300px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 30px;
    background: #4D9FFF;

    transition: .3s ease-in-out;
}
.color_viewer .bg {
    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;

    background: #000;
    opacity: 0;
    z-index: -300;

    transition: .3s;
}
.title {
    font-weight: 600;
    font-size: 40px;
    color: #404040;
}
.title.small {
    font-size: 22px;
}
.grey_text {
    color: #707070;
    font-size: 14px;
}
.similar_colors {
    width: 100%;
    height: 180px;

    overflow-y: hidden;
    overflow-x: auto;

    background: #fff;
    box-shadow: var(--shadow);
    border-radius: 30px;
}
.similar_colors::-webkit-scrollbar {
    display: none;
}
.similar_colors .card {
    width: 160px;
    height: 160px;
    margin: auto 10px;
    box-shadow: none;
}
.similar_colors .card:hover {
    height: 180px;
}
.similar_colors .card .color_canvas {
    border-radius: 30px;
}
.similar_colors .card:hover .bottom_panel {
    background: none;
    color: #fff;
}
.choose_bg_color {
    border: none;
    border-radius: 30px;
}